*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    background-color: aquamarine;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
}

nav ul li{
    font-size: 30px;
    border-right: 1px solid white;
}

nav ul li:last-child{
    border-right: none;
}

nav ul li a{
    text-decoration: none;
    transition: 0.3s;
    padding: 15px;
    transition: 0.3s;
}

nav ul li a:hover{
    background-color: red;
    color: white;
}

.hero-section{
    width: 100%;
    height: 90vh;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-position: center;
    position: relative;
}

.hero-box{
    position: absolute;
    width: 600px;
    height: 250px;
    border: none;
    bottom: 0;
    right: 10px;
    color: red;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    color: white;
}

p{
    color: rgb(229, 255, 0);
}

.L{
    width: 150px;
    height: 50px;
    background-color: rgb(146, 243, 211);
    border: none;
    border-radius: 10px
}

.L:hover{
    background-color: chartreuse;
    color: white;
    font-size: 20px;
}

.S{
    width: 150px;
    height: 50px;
    background-color: rgb(146, 243, 211);
    border: none;
    border-radius: 10px
}

.S:hover{
    background-color: chartreuse;
    color: white;
    font-size: 20px;
}
